
/* Header */
header.title {
  background-color:var(--color-header-title);
  display: flex;
  padding: 20px;
  justify-content:space-between;
  align-items: center;
}
.completedButton {
  margin-right: 20px;
  padding: 10px 30px;
  border-radius: 50px;
  border: 0;
  background-color: hsl(0, 0%, 98%);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
}
button:hover {
  letter-spacing: 3px;
  background-color: hsl(0, 0%, 100%);
  color:  hsl(261deg 80% 48%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
 }

 button:active {
  letter-spacing: 3px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(261deg 80% 48%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  /* transform: translateY(10px); */
  transition: 100ms;
 }


.priorityLogo {
  color: #ffffff;
}

/* Priority Dates */
.datesWrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: var(--color-background);
}

.prioritizedDates {
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
}

/* High Priority */
.highPriority {
  background-color:var(--color-date-background);
  border-radius: 5px;
}

.highPriority .dateType__tile {
  color: #ffffff;
  text-shadow: 2px 3px 2px rgba(0,0,0,0.1);
  font-size: 20px;
  font-weight: 700;
  letter-spacing:1.5px;
  background-color:var( --color-high-red);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 2px 0px rgba(36, 36, 36, 0.7) ;
}

/* Medium Priority */
.mediumPriority {
  background-color:var(--color-date-background);
}

.mediumPriority .dateType__tile {
  color: #ffffff;
  text-shadow: 2px 3px 2px rgba(0,0,0,0.1);
  font-size: 20px;
  font-weight: 700;
  letter-spacing:1.5px;
  background-color: var(--color-medimu-yellow);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 2px 0px rgba(36, 36, 36, 0.4) ;
}

/* Low Priority */
.lowPriority {
  background-color: var(--color-date-background);
}

.lowPriority .dateType__tile {
  color: #ffffff;
  text-shadow: 2px 3px 2px rgba(0,0,0,0.1);
  font-size: 20px;
  font-weight: 700;
  letter-spacing:1.5px;
  background-color: var(--color-low-green);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 2px 0px rgba(36, 36, 36, 0.7) ;
}

/* Date Item */
.dateItem {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  background-color: #f3f4f6;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.12);
}

.dateItem:hover {
  transform: translateY(-5px);
  box-shadow: 10px 15px 25px  rgba(0, 0, 0, 0.25);
}
.completedDate{
  background-color:var(--color-border-red);
 /* border: 2px solid ;
 border-color: var(--color-border-red); */
}

.date {
  margin-right: 10px;
  font-weight: bold;

}

.dateTile {
  font-size: 15px;
  font-weight: 500;
  flex: 1;

}

.dateTime {
  margin-left: 10px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  /* Adjust styling for smaller screens */
  header.title {
    padding: 5px;
  }
  
  .datesWrapper {
    flex-wrap: wrap;
  }
  
  .prioritizedDates {
    width: 100%;
    margin: 10px;
  }
  
  /* Responsive font sizes */
  .completedButton {
    font-size: 13px;
  }
  
  .dateType__tile {
    font-size: 18px;
  }
  
  .dateItem {
    padding: 20px;
  }
  
  .dateTile {
    font-size: 13px;
  }
}

/* Desktop version */
@media screen and (min-width: 1024px) {
 
  .datesWrapper {
    justify-content: center;
    max-width: auto;
    margin: 0 auto;
  }
  
  .completedButton {
    font-size: 18px;
  }
  
  .dateType__tile {
    font-size: 24px;
  }
  
  .dateTile {
    font-size: 18px;
  }
}
/* Media Queries mobile */
@media screen and (max-width: 768px) {

  .completedButton {
    margin-right: 20px;
    padding: 8px 18px;
    border-radius: 50px;
    border: 0;
    background-color: hsl(0, 0%, 98%);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
  }

  header.title {
    padding: 5px;
  }
  
  .datesWrapper {
    flex-wrap: wrap;
  }
  
  .prioritizedDates {
    width: 100%;
    margin: 10px;
  }
  
  .completedButton {
    font-size: 13px;
  }
  
  .dateType__tile {
    font-size: 18px;
  }
  
  .dateItem {
    padding: 20px;
  }
  
  .dateTile {
    font-size: 13px;
  }
}
