
:root {
    --color-black: #000000;
    --color-header-title:rgb(8, 10, 84);
    --color-background: rgb(0, 32, 74);
    --color-date-background:#e6e6e6;
    --color-text-light: #71767b;
    --color-high-red: #ef476f;
    --color-border-red: #ba181b44;
    --color-medimu-yellow:#ee9b00 ;
    --color-low-green: #2a9d8f;;
    --color-border: rgba(239, 243, 244, 0.2);
}